<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hink Pinks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Today's Hink Pink</h1>
        <form id="hinkPinkForm">
            <div class="riddle">{{ question }}</div>
            <div class="inputs">
                <input type="text" style="text-align: center;" autocomplete="off" name="wordOne" placeholder="Enter first word...">
                <input type="text" style="text-align: center;" autocomplete="off" name="wordTwo" placeholder="Enter second word...">
            </div>
            <input type="submit" value="Submit" id="submitInput">
        </form>
        <div class="rules">
            <p><strong>Rules:</strong></p>
            <ul>
                <li>The answer includes two words that must rhyme perfectly.</li>
                <li>Neither of the two words in the answer are present in the riddle.</li>
                <li><span class="example-link" onclick="toggleExample()">See an example</span></li>
            </ul>
            <div id="example" class="hidden">
                <p><strong>Example:</strong> A late festival —> "tardy party"</p>
            </div>
        </div>
        <div class="result" id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
