{% extends "layout.html" %}

{% block title %}
    Blank
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Stock</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {% for i in purchased_total %}
      <tr>
        <td>{{ purchased_action }}</td>
        <td>{{ purchased_stocks[i] }}</td>
        <td>{{ purchased_shares[i] }}</td>
        <td>{{ usd(purchased_prices[i]) }}</td>
        <td>{{ purchased_times[i] }}</td>
      </tr>
      {% endfor %}
      {% for i in sold_total %}
      <tr>
        <td>{{ sold_action }}</td>
        <td>{{ sold_stocks[i] }}</td>
        <td>{{ sold_shares[i] }}</td>
        <td>{{ usd(sold_prices[i]) }}</td>
        <td>{{ sold_times[i] }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}