{% extends "backbone.html" %}

{% block title %}
{{ module }}
{% endblock %}

{% block main %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="header" style="margin-bottom: 15px;">Units in {{ module }}</h1>
                    <p class="section-text">The Multistate Bar Exam consists of 36 units, each containing a number of topics within them. We encourage you to study each topic in any order, although we do recommend you finish the unit before you move onto other units.</p>
                    {% if not session["user_id"] %}
                    <p>
                        <a href="/login" class="btn btn-primary my-2" style="background-color: blue !important; border: 2px solid blue !important;">Log In</a>
                        <a href="/sign-up" style="font-family: 'Poppins', sans-serif !important;" class="btn btn-secondary my-2">Sign Up</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </section>

        <div class="album py-5" style="margin-top: -100px; margin-bottom: -25px;">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="{{ card_class }}">
                        <div class="card text-center">
                            <div class="card-body" style="height: 220px; position: relative; top: 50%; transform: translateY(15%);">
                                <h5 class="card-title"><a class="card-link" href="{{ module_link }}">Overview</a></h5>
                                <p class="card-text">An overview of the {{ module }} module.</p>
                                <a href="{{ module_link }}" class="btn btn-primary">Go here</a>
                            </div>
                        </div>
                    </div>

                    {% for i in range(len(units)) %}

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a class="card-link" href="{{ unit_links[i] }}">{{ units[i] }}</a></h5>
                                <p class="card-text">{{ unit_descriptions[i] }}</p>
                                <form id="topicForm" class="row g-3" data-link="{{ unit_links[i] }}">
                                    <select id="select" class="form-select">
                                        {% for j in range(len(topics[i])) %}
                                            <option value="{{ topics[i][j]['topic'] }}">{{ topics[i][j]['topic'] }}</option>
                                        {% endfor %}
                                    </select>
                                    <a onclick="submitForm(this)" class="btn btn-primary">Go here</a>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <script>
                        function submitForm(button) {
                            var form = button.closest("form");
                            var select = form.querySelector("select");
                            var selectedValue = select.value;
                            selectedValue = selectedValue.toLowerCase().replace(/\s+/g, "-");
                            var url = "/" + selectedValue;
                            form.action = url;
                            form.submit();
                        }
                    </script>
                </div>
            </div>
        </div>
    </body>
{% endblock %}