{% extends "backbone.html" %}

{% block title %}
Not Found
{% endblock %}

{% block main %}
<div class="main-container" style="margin-top: 130px;">
    <div class="container">
        <div class="hero-text-container">
            <h1 class="header">404 Not Found</h1>
            <h3 class="section-text">Sorry about that. If you entered the URL manually, try checking your spelling!</h3>
            <button id="homeButton" class="explore-button">GO HOME</button>
        </div>
        <img src="https://lawmasterprep.weebly.com/uploads/1/2/4/3/124361630/editor/index-top-image-3.png?1705984136" alt="A stack of books with a golden balance on top">
    </div>
</div>
<script>
    document.getElementById("homeButton").addEventListener("click", function() {
        window.location.href = "/";
    });
</script>
{% endblock %}