{% extends "backbone.html" %}

{% block title %}
    Blog
{% endblock %}

{% block main %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="header" style="margin-bottom: 15px;">Our Blog</h1>
                <p class="section-text">The Multistate Bar Exam consists of seven modules, each containing a number of units within them.</p>
            </div>
        </div>
    </section>

    <body>
        <div class="grid-container">
            {% for card in cards %}
                <div class="square" onclick="navigateToBlog('{{ card['url'] }}');">
                    <div class="top">
                        <p class="article-date">{{ card['article-date'] }}</p>
                        <p class="article-tag">{{ card['article-tag'] }}</p>
                    </div>
                    <h1 class="article-title">{{ card['article-title'] }}</h1>
                    <p class="article-author">By
                        <a class="author-link" href="{{ card['author-bio-href'] }}" onclick="event.stopPropagation();">
                            <span class="article-author">{{ card['article-author'] }}</span>
                        </a>
                    </p>
                    <img src="{{ card['article-img-src'] }}" alt="Article Image" class="article-graphic" />
                </div>
            {% endfor %}
        </div>
    </body>
    <script>
        function navigateToBlog(url) {
            window.location.href = url;
        }
    </script>
{% endblock %}
