::selection {
    background-color: #6BCAE2;
    color: white;
}

* {
    box-sizing: border-box;
}

.language-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    border: none;
}


.language-text {
    display: inline-block;
    font-size: 16px;
    color: #D0D0D0;
    font-weight: bold;
    margin-right: 10px;
}


.language-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #616786;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 7.5%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #616786;
}

.placeholder {
    display: inline-block;
    font-size: 14px;
    color: #616786;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #D0D0D0;
    position: relative;
    left: 0;
}

.sub-section {
    text-align: center;
}

.title {
    margin-top: 3%;
    color: #FFF;
    font-size: 3em;
    text-align: center;
}

.subtitle {
    color: #FFF;
    font-size: 1em;
    margin-bottom: 3%;
    width: 1200px;
    display: inline-block;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
}

.cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.add-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 300px;
    min-height: 92px;
    background-color: #6BCAE2;
    color: white;
    font-size: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    user-select: none;
    font-weight: bold;
    text-decoration: none;
}

.add-cell:hover {
    background-color: #5AB6D0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.add-cell:active {
    background-color: #49A2BE;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.wordInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 5px);
    text-align: center;
    outline: none;
}

.outputArea {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    height: 100%;
    word-break: break-word;
    width: calc(100% - 5px);
    overflow: auto;
}

.synonymBubble {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin: 5px;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.04);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.synonymBubble:hover {
    background-color: #f0f0f0;
}

.removeBtn {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #B0B0B0;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 0.25em;
}

.addSynonymBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #6BCAE2;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

.addSynonymBtn:hover {
    background-color: #5AB6D0;
}

.synonymBubble.editMode {
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    background-color: #fff;
    font-size: 12px;
    outline: none;
    width: 38px;
}

.navigatorBtn {
    background-color: #6BCAE2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: bold;
    outline: none;
}

.navigatorBtn:hover {
    background-color: #5AB6D0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.navigatorBtn:active {
    background-color: #49A2BE;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.resultContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.outputText {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    resize: none;
    width: 90%;
    text-align: center;
    outline: none;
}

.resultContainer button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: white;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.delBtn {
    background-color: #B0B0B0;
}

.delBtn:hover {
    background-color: #9A9A9A;
}

.delBtn:active {
    background-color: #848484;
}

.copyBtn {
    background-color: #6BCAE2;
}

.copyBtn:hover {
    background-color: #5AB6D0;
}

.copyBtn:active {
    background-color: #49A2BE;
}

.copiedPopup {
    color: white;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #616786;
    border: none;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in-out 1.5s forwards;
}

.condition {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    border: none;
}

.condition-text {
    display: inline-block;
    font-size: 16px;
    color: #616786;
    font-weight: bold;
}

.info-button {
    display: inline-block;
    font-size: 10px;
    color: #616786;
    cursor: pointer;
    position: relative;
    top: -5px;
    padding: 2px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #616786;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.6s;
    font-size: 12px;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.info-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    font-size: 1rem;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid #616786;
    border-radius: 0.25em;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease-in-out;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 0.5em;
    height: 0.25em;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: #616786;
}

input[type="checkbox"]:checked::before {
    opacity: 1;
}

input[type="checkbox"]:focus {
    outline: none;
}

.shuffleBtn {
    background-color: transparent;
    border: none;
    color: #616786;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
}

.shuffleBtn:hover {
    text-decoration: none;
    color: #838BA6;
}

.shuffleBtn:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

@media (max-width: 480px) {

    .title {
        margin: 20px;
    }
}
