#header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#searchInput {
    display: inline-block;
    margin-top: 20px;
    width: 300px;
}

#searchDiv {
    text-align: center;
}

#searchDiv>* {
    margin-left: 10px;
}

#select {
    display: inline-block;
    margin-top: 20px;
    width: 140px;
}

#courseTable {
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
}

#display {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#categorySelect {
    outline: none;
}
