{% extends "backbone.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div>
    <div class="hero-container">
        <div class="hero-text-container">
            <h1 class="header">Study Less. Learn More.</h1>
            <h3 class="hero-text">THE CONVENIENT WAY TO PREPARE FOR THE MBE</h3>
            <button id="exploreButton" class="explore-button">EXPLORE</button>
        </div>
        <img src="https://lawmasterprep.weebly.com/uploads/1/2/4/3/124361630/editor/index-top-image-3.png?1705984136" alt="A stack of books with a golden balance on top">
    </div>
</div>
<script>
    document.getElementById("exploreButton").addEventListener("click", function() {
        window.location.href = "/explore";
    });
</script>
{% endblock %}
