{% extends "backbone.html" %}

{% block title %}
{{ topic }}
{% endblock %}

{% block main %}
<div class="container mt-5" style="height: 250px;">
    <aside class="col-md-4 col-lg-3 mb-3 sticky-sidebar" style="margin-top: 50px !important;">
        <h5 class="sidebar-title">{{ unit }}</h5>
        <ul class="nav flex-column">
            {% for i in range(len(topics)) %}
            <li class="nav-item">
                <a href="{{ topic_links[i] }}" class="nav-link">{{ topics[i] }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>
</div>
<div class="col-lg-6 col-md-8 mx-auto" style="text-align: center; margin-top: -205px; margin-left: 585px !important;">
    <h1 class="header" style="text-align: left; font-size: 30pt !important;">{{ topic }}</h1>
    <div class="lesson-div">
        {{ lesson | safe }}
    </div>
</div>
{% endblock %}
