.header {
    background-color: #A7C7E7;
    color: #fff;
    margin-bottom: 2rem;
    padding: 4rem 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-header {
    background-color: #A7C7E7;
    color: #fff;
    margin-bottom: 4rem;
    padding: 4rem 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.accordion {
    width: 600px;
    margin: auto;
}

.soccerball {
    transform: scale(0.7);
    float: left;
}

.chessboard {
    transform: scale(0.7);
    float: right;
}

.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.navbar-nav {
    margin: auto;
}

.btn-primary {
    background-color: #A7C7E7;
    width: 100px;
    margin-left: 27.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.col-md-6 {
    margin-left: 200px;
    width: 400px;
}

.col-12 {
    margin-top: 2rem;
    margin-left: 12.5rem;
    width: 1000px;
}

.form-label {
    margin top: 2rem;
    margin bottom: 2rem;
}

.soccerheader {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 3;
}

.soccerinfo {
    margin-left: 20rem;
    margin-right: 20rem;
}
