{% extends "outline.html" %}

{% block title %}
    Change Category
{% endblock %}

{% block main %}
    <form action="/change-category" method="post">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Task</label>
            <select class="form-select" name="task" aria-label="Default select example">
                {% for i in task_total %}
                    <option>&nbsp&nbsp&nbsp&nbsp&nbsp{{ tasks[i] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">New Category</label>
            <select class="form-select" name="category" aria-label="Default select example">
                <option>&nbsp&nbsp&nbsp&nbsp&nbspNo Category</option>
                {% for i in category_total %}
                    <option>&nbsp&nbsp&nbsp&nbsp&nbsp{{ categories[i] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
