{% extends "outline.html" %}

{% block title %}
    Manage Tasks
{% endblock %}

{% block main %}
    <form action="/manage-tasks" method="post">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Task</label>
            <select class="form-select" name="task" aria-label="Default select example">
                {% for i in total %}
                    <option>&nbsp&nbsp&nbsp&nbsp&nbsp{{ tasks[i] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Action</label>
            <select class="form-select" name="action" aria-label="Default select example">
                <option>&nbsp&nbsp&nbsp&nbsp&nbspChange Category</option>
                <option>&nbsp&nbsp&nbsp&nbsp&nbspRemove</option>
                <option>&nbsp&nbsp&nbsp&nbsp&nbspMark as Complete</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
